{% extends 'base.html' %}
{% block content %}
<th>Actions</th>

<h2 class="mb-4">📊 Dashboard</h2>
<h2 class="fw-bold text-dark">{{ total_attendance }}</h2>

<div class="row text-center">

    <div class="col-md-3 mb-3">
        <div class="card shadow-lg border-0">
            <div class="card-body">
                <h6 class="text-muted">
                    <i class="bi bi-people-fill"></i> Total Students
                </h6>
                <h2 class="fw-bold text-primary">{{ total_students }}</h2>
    </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-lg border-0">
            <div class="card-body">
                <h6 class="text-muted">
                <i class="bi bi-calendar-check"></i> Total Attendance
                </h6>
                <h2 class="fw-bold text-dark">{{ total_attendance }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-lg border-0 bg-success text-white">
            <div class="card-body">
                <h6>
                <i class="bi bi-check-circle-fill"></i> Present Today
                </h6>
                <h2 class="fw-bold">{{ present_today }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-lg border-0 bg-danger text-white">
            <div class="card-body">
                <h6>
                <i class="bi bi-x-circle-fill"></i> Absent Today
                </h6>
                <h2 class="fw-bold">{{ absent_today }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-lg border-0 bg-info text-white">
            <div class="card-body">
               <h6>
               <i class="bi bi-graph-up-arrow"></i> Attendance %
               </h6>
               <h2 class="fw-bold">{{ attendance_percentage }}%</h2>
            </div>
        </div>
    </div>

</div>

<hr>

<h4 class="mt-4">📈 Attendance Chart</h4>
<div class="text-center">
    <img src="data:image/png;base64,{{ chart }}" 
         class="img-fluid" 
         style="max-width: 400px;">
</div>

<hr>

<h4 class="mt-4">👩‍🎓 Student List</h4>

<!-- 🔍 Search Form -->
<form action="/search" method="GET" class="mb-3">
    <div class="input-group">
        <input type="text" name="search" class="form-control"
               placeholder="Search by name or roll number">
        <button class="btn btn-primary">Search</button>
    </div>
</form>
        <a href="/monthly_report?month=03&year=2026" 
            class="btn btn-primary mb-3">
            Monthly Report
        </a>
<!-- 📋 Student Table -->
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>👤 Name</th>
        <th>🎓 Roll No</th>
        <th>📅 Attendance</th>
        <th>⚙ Action</th>
    </tr>
    </thead>

    <tbody>
    {% for student in students %}
        <tr>

            <td>{{ student.name }}</td>

            <td>{{ student.roll_no }}</td>

            <td>
                <form action="/mark_attendance" method="POST" style="display:inline;">
                    <input type="hidden" name="student_id" value="{{ student.id }}">

                    <button type="submit" name="status" value="Present"
                        class="btn btn-sm btn-success">
                        Present
                    </button>

                    <button type="submit" name="status" value="Absent"
                        class="btn btn-sm btn-danger">
                        Absent
                    </button>
                </form>

                <br><br>

                {% if student.status == "Present" %}
                    <span class="badge bg-success">Present</span>
                {% elif student.status == "Absent" %}
                    <span class="badge bg-danger">Absent</span>
                {% else %}
                    <span class="badge bg-secondary">Not Marked</span>
                {% endif %}
            </td>

            <td>

            <a href="/edit_student/{{ student.id }}" class="btn btn-warning btn-sm">
            ✏ Edit
            </a>

            <a href="/delete_student/{{ student.id }}" class="btn btn-danger btn-sm">
            🗑 Delete
            </a>

            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}